In [173]:
import pandas as pd

In [174]:
headers = ['RK', 'PLAYER', 'TEAM', 'GP', 'G', 'A', 'PTS', '+/-', 'PIM','PTS/G', 'SOG', 'PCT', 'GWG', 'PP_G', 'PP_A', 'SH_G', 'SH_A']

In [175]:
df = pd.read_html('http://www.espn.com/nhl/statistics/player/_/stat/points/sort/points/year/2015/seasontype/2', header=1)[0]

In [176]:
df.head()

,RK,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,G.1,A.1,G.2,A.2
0,1,"Jamie Benn, LW",DAL,82,35,52,87,1,64,1.06,253,13.8,6,10,13,2,3
1,2,"John Tavares, C",NYI,82,38,48,86,5,46,1.05,278,13.7,8,13,18,0,1
2,3,"Sidney Crosby, C",PIT,77,28,56,84,5,47,1.09,237,11.8,3,10,21,0,0
3,4,"Alex Ovechkin, LW",WSH,81,53,28,81,10,58,1.00,395,13.4,11,25,9,0,0
4,NaN,"Jakub Voracek, RW",PHI,82,22,59,81,1,78,0.99,221,10.0,3,11,22,0,0

In [177]:
df = df.drop('RK', axis=1)

In [178]:
df.head()

,PLAYER,TEAM,GP,G,A,PTS,+/-,PIM,PTS/G,SOG,PCT,GWG,G.1,A.1,G.2,A.2
0,"Jamie Benn, LW",DAL,82,35,52,87,1,64,1.06,253,13.8,6,10,13,2,3
1,"John Tavares, C",NYI,82,38,48,86,5,46,1.05,278,13.7,8,13,18,0,1
2,"Sidney Crosby, C",PIT,77,28,56,84,5,47,1.09,237,11.8,3,10,21,0,0
3,"Alex Ovechkin, LW",WSH,81,53,28,81,10,58,1.00,395,13.4,11,25,9,0,0
4,"Jakub Voracek, RW",PHI,82,22,59,81,1,78,0.99,221,10.0,3,11,22,0,0

In [179]:
df = df.dropna(axis=0, thresh=4)

In [180]:
df = df[df['PLAYER'] != 'PLAYER']

In [181]:
df.dtypes

PLAYER    object
TEAM      object
GP        object
G         object
A         object
PTS       object
+/-       object
PIM       object
PTS/G     object
SOG       object
PCT       object
GWG       object
G.1       object
A.1       object
G.2       object
A.2       object
dtype: object

In [182]:
df.iloc[:,2:] = df.iloc[:,2:].apply(pd.to_numeric, errors='coerce')

In [208]:
df = df.reset_index()

In [187]:
df.count()

PLAYER    40
TEAM      40
GP        40
G         40
A         40
PTS       40
+/-       40
PIM       40
PTS/G     40
SOG       40
PCT       40
GWG       40
G.1       40
A.1       40
G.2       40
A.2       40
dtype: int64

In [197]:
len(df.PCT.unique())

36

In [212]:
df.loc[15:16, 'GP'].sum()

164.0